/* Navbar.css */

.navbar {
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none; /* Make it round */
  overflow: hidden; /* Hide overflow content */
  width: 200px; /* Set width and height to make it square */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.navbar-brand img {
  width: 100%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
 /* Ensure the image is round */
}

.navbar-toggler {
  border: none;
  background: transparent;
  color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

.navbar-toggler-icon {
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 55px;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8f9fa;
}

.login-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #fff;
  color: #007bff;
}
/* Navbar.css */

.navbar {
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.navbar-toggler {
  border: none;
  background: transparent;
  color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

.navbar-toggler-icon {
  
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 55px;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8f9fa;
}

.login-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #fff;
  color: #007bff;
}

/* App.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.list-group-item p {
  margin-bottom: 5px;
}

.custom-list {
  list-style-type: none;
  padding: 0;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly */
}

.custom-list-item {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  width: calc(50% - 0.5rem); /* Each item takes up 50% of the container width minus half of the spacing */
  margin-right: 1rem; /* Add space between items */
}

.custom-list-item:last-child {
  border-bottom: none;
  margin-right: 0; /* Remove margin for the last item */
}